.btn-search {
   margin-top: 25px;
 }

body {
    .no-border {
        border: 0 none;
    }
}
.tab-list {
    .btn {
        background: #868686;
        color: #fff;
        &.active {
            background: #f3f3f3;
            color: #222;
        }
    }
}